.nav {
    grid-area: nav;
    background-color: darkgray;
    padding: 15px;
}

.nav__link {
    text-decoration: none;
}
.nav__linkActive {
    color: gold;
    text-decoration: none;
}
.nav__items:hover {
    cursor: pointer;
    background-color: #edeef0;
}